::selection {
	background: #fff;
	color: #171717;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #252525;
}

::-webkit-scrollbar-thumb {
	background: #191919;
}

::-webkit-scrollbar-thumb:hover {
	background: #131313;
}

.italic {
	font-style: italic;
}

.bold {
	font-weight: bold;
}

.marcatexto {
	background: #f33;
	font-weight: 400;
	color: #ddd;
}

.divider_light {
	padding: 0.2rem;
	border: none;
	margin: 0rem;
}

.divider_dark {
	padding: 0.2rem;
	border: none;
	margin: 0rem;
	background-color: #000;
}

.divider_dark_mobile {
	visibility: hidden;
	padding: 0.1rem;
	border: none;
	margin: 0rem 2rem;
	background-color: #171717;

}

/* Ocultar o botão do input number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

html {
	font-size: 62.5%;
	color: white;
	background-color: #252525;
	font-family: "Poppins", sans-serif;
}

a {
	color: #fff;
	font-size: 1.5rem;
	text-decoration: none;
}

h1 {
	padding-bottom: 1rem;
	font-size: 4rem;
	font-weight: 700;
	text-align: center;
}

h2 {
	padding: 4rem 0rem;
	font-size: 2.5rem;
	font-weight: 600;
}

h3 {
	padding-bottom: 4rem;
	font-size: 2.5rem;
	font-weight: 600;

}

header > h2 {
	padding: 0rem;
	font-size: 2.5rem;
	font-weight: 400;
	text-align: center;
}

header {
	padding: 6rem;
	text-align: center;
	background: #171717;
}

section {
	background: #dddddd;
	padding: 3rem 6rem;
	color: #131313;
}

section>p {
	font-size: 1.8rem;
	text-align: left;
	padding: 1rem 0rem;
	letter-spacing: 0.1rem;
	line-height: 3rem;
}

footer {
	padding: 4rem;
	text-align: left;
	background: #171717;
}

label {
	font-size: 2rem;
	font-weight: 400;
}

span > img {
	width: 4.5rem;
	position: relative;
	float: left;
	left: 25%;
}

p > a {
	color: #f33;
	font-size: inherit;
	font-weight: bolder;
	text-decoration: underline;
}

a > img {
	width: 2.5rem;
	padding-right: 1rem;
	vertical-align: middle;

}

img#instagram-logo {
	padding-left: 1rem;
}

a:hover	{
	opacity: 50%;
}


.coluna {
	float: left;
	width: 33.33%;
	padding-top: 5rem;
	text-align: center;
}

.coluna > p {
	font-size: 1.5rem;
}

#coluna1,
#coluna3 {
	float: left;
}

form {
	margin: 0rem;
}

@media screen and (max-width: 900px) {
	.coluna {
		width: 100%;
	}
	.divider_dark_mobile {
		visibility: visible;
	}
}

div > p {
	margin: 10px;
	font-size: 3rem;
	font-weight: 200;
	text-align: center;
}

main {
	padding-top: 3rem;
	padding-bottom: 0rem;
	background: #252525;
}

p#resultado {
	padding: 0rem 2rem 2rem 2rem;
	font-size: 2.5rem;
	text-align: center;
	font-weight: 500;
	/* display: block; */
}

span#num_resultado {
	display: table;
	margin: auto;
	margin-bottom: 5rem;
	font-size: 3.5rem;
}

p#resultadohidden {
	visibility: hidden;
}

input {
	border-radius: 5rem;
	border-width: 0rem;
	border-color: black;
	accent-color: red;
	background-color: #171717;
	color: white;

	transition: 500ms;
	text-align: center;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	width: 5rem;
	height: 3rem;
	margin-top: 2rem;
	margin-bottom: 5rem;
}

input[type="radio"] {
	appearance: none;
	width: 20px;
	height: 20px;
	border: 2px solid #131313;
	border-radius: 50%;
	background-clip: content-box;
	padding: 3px;
}

input[type="radio"]:checked {
	background-color: #f33;
}
