::selection {
	background: #000;
	color: #fff;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #252525;
}

::-webkit-scrollbar-thumb {
	background: #191919;
}

::-webkit-scrollbar-thumb:hover {
	background: #131313;
}

html {
	font-size: 62.5%;
	background: #252525;
	color: white;
	font-family: "Poppins", sans-serif;
}

h1 {
	padding-bottom: 1rem;
	font-size: 5rem;
	font-weight: 600;
    text-align: center;
}

h2 {
	padding-bottom: 5rem;
	font-size: 2.5rem;
	font-weight: 400;
}

header > h2 {
	padding-bottom: 0rem;
	font-size: 2.5rem;
	font-weight: 400;
}

header {
	padding: 6rem;
	text-align: center;
	background: #171717;
}

footer {
    padding: 4rem;
    text-align: center;
    background: #171717;
}

label {
	font-size: 2.5rem;
	font-weight: 400;
}

span > img {
	width: 4rem;
	position: relative;
	float: left;
	left: 30%;
	/* display: block; */
	/* left: 15rem; */
	/* bottom: -5rem; */
	/* background: #fff; */
}

.coluna {
	float: left;
	width: 33.33%;
	padding-top: 5rem;
	text-align: center;
}

.coluna > p {
	font-size: 1.5rem;
}

@media screen and (max-width: 900px) {
	.coluna {
		width: 100%;
	}
}

section > p {
	margin: 10px;
	font-size: 3rem;
	font-weight: 200;
	text-align: center;
}

main {
	padding: 2rem;
}

p#resultado {
	padding: 1rem;
	font-size: 3rem;
	text-align: center;
	font-weight: 500;

}

p#resultadohidden {
    visibility: hidden;
}

/* main>p {
    visibility: hidden;
} */

input {
	border-radius: 5rem;
	border-width: 0rem;
	border-color: black;
	accent-color: red;
	background-color: #131313;
    color: white;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 5rem;
	height: 3rem;
	margin-top: 1rem;
	margin-bottom: 5rem;
}

input[type="radio"] {
	appearance: none;
	width: 20px;
	height: 20px;
	border: 2px solid #131313;
	border-radius: 50%;
	background-clip: content-box;
	padding: 3px;
}

input[type="radio"]:checked {
	background-color: #f33;
}
